<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-white">Batch Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class>Batch Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="flex flex-col justify-center items-center gap-5">
    <div class="border-2 border-[#6d6d6d] w-full flex items-center">
      <ion-input placeholder="Batch Name" aria-label="Batch Name"></ion-input>
      <div class="text-blue-400 pr-4">Fishing</div>
    </div>
    <ion-row class="w-full flex justify-between items-center border-2 border-[#c6c6c6]">
      <ion-label class="bg-[#c6c6c6] w-full p-2">
        Regular Label Type
      </ion-label>
      <div>
        <div class="w-full text-blue-400 p-2">Product Defaults</div>
      </div>
    </ion-row>
    <ion-row class="w-full flex justify-between items-center border-2 border-[#c6c6c6]">
      <ion-label class="bg-[#c6c6c6] w-full p-2">
        Promo Label Type
      </ion-label>
      <div>
        <div class="w-full text-blue-400 p-2">Product Defaults</div>
      </div>
    </ion-row>
    <ion-row class="w-full flex justify-between items-center border-2 border-[#c6c6c6]">
      <ion-label class="bg-[#c6c6c6] w-full p-2">Deal Details</ion-label>
      <div>
        <ion-input class="w-full text-blue-400 p-2" placeholder="Deal Number"></ion-input>
      </div>      
      <div class="pr-3">
        <ion-label>(Optional)</ion-label>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>