<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inquiry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title>Inquiry</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid class="w-full text-black">
    <ion-row class="w-full text-black flex mx-auto justify-center items-center pt-28 gap-11">
       <div class="text-xl w-full flex justify-center">Logo</div>
       <div class="border-2 border-[#6d6d6d] w-64 inline-flex items-center">
        <ion-input placeholder="Search By Product Number, UPC or Description" aria-label="Product Search"></ion-input>
       </div>
    </ion-row>
  </ion-grid>
</ion-content>
