<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inquiry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title>Inquiry</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <div class="text-xl w-full flex justify-center pt-36">Logo</div>
    </ion-row>
    <ion-row class="text-black pt-20 justify-center">
      <ion-col class="ion-text-center">
        <ion-input [(ngModel)]="inputValue" (keypress)="onKeyPress($event)" placeholder="PIN" aria-label="Login" class="border flex w-64 mx-auto justify-center"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="text-black justify-center">
      <ion-col class="ion-text-center">
        <button (click)="login()" class="flex w-64 mx-auto justify-center uppercase bg-green-500 text-white p-3">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 