<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-white">Create List</ion-title>
    <ion-buttons slot="end" class="h-full bg-slate-500 p-3">
      <ion-button>
        <ion-icon
        class="text-white text-2xl"
        aria-hidden="true"
        ios="print-outline"
        md="print-outline"
      ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title>Create List</ion-title>
      <ion-buttons slot="end" class="h-full bg-slate-500 p-3">
        <ion-button>
          <ion-icon
          class="text-white text-2xl"
          aria-hidden="true"
          ios="print-outline"
          md="print-outline"
        ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="justify-center grid grid-cols-1 gap-4 p-2 bg-slate-300">
    <ion-row class="w-full flex items-center bg-white">
      <div class="border-2 border-[#6d6d6d] w-full inline-flex items-center">
        <ion-input [(ngModel)]="inputValue" (keypress)="onKeyPress($event)" placeholder="Scan or enter SKU or UPC code" aria-label="Product Inquiry" data-test="input-field-1"></ion-input>
        <ion-icon
        (click)="createPickList()"
          class="pr-4 text-black"
          aria-hidden="true"
          ios="search"
          md="search-sharp"
          data-test="icon-button"
        ></ion-icon>
      </div>
    </ion-row>
    <ion-row class="bg-white">
      <div class="border-2 border-[#6d6d6d] w-full inline-flex items-center">
        <input class="uppercase w-full bg-transparent" 
               type="text" 
               placeholder="LIST NAME" 
               [disabled]="true"
           >
        <ion-input [(ngModel)]="inputListName" [placeholder]="val" [value]="inputListName" aria-label="List name" class="w-20 text-blue-500" data-test="input-field-2"></ion-input>
      </div>
    </ion-row>
    <ion-col *ngIf="hideEle" class="flex flex-col items-center pt-10 bg-white">
      <span class="text-7xl font-semibold uppercase">scan</span>
      <span class="text-3xl uppercase">Product</span>
      <ion-img src='../../assets/UPCAcode.png' alt="UPCAcode placeholder image"></ion-img>
    </ion-col>
    <ul>
      <li *ngFor="let prod of products; let i = index" class="bg-blue-100 p-2 border text-sm border-black">
        <div>
          <p>#{{ products[i].sku }}</p>
          <p>{{ products[i].name }}</p>
        <p></p>
        </div>
        <div>
        </div>
      </li>
     </ul>
  </div>
</ion-content>
