<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="checkUserLoggedIn()">
      <ion-content>
        <ion-list class="bg-[#292929]">
          <ion-list-header><ion-label class="text-lg flex justify-center mb-8 uppercase">{{user.name}}</ion-label></ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
            <ion-segment value="Default">
              <ion-segment-button class="text-white" value="Default">EN</ion-segment-button>
              <ion-segment-button class="text-white" value="segment">FR</ion-segment-button>
            </ion-segment>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
