<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-white">Locate</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Locate</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="justify-center grid grid-cols-1 gap-4 p-2 bg-slate-300">
    <ion-row class="w-full flex items-center bg-white">
        <ion-input placeholder="Search by product # or UPC"></ion-input>
        <ion-icon
          (click)="myFunction()"
          class="pr-4 text-black"
          aria-hidden="true"
          slot=""
          ios="search"
          md="search-sharp"
        ></ion-icon>
    </ion-row>
    <ion-row class="w-full flex items-center bg-white">
        <ion-input placeholder="Enter a location code"></ion-input>
        <ion-icon
          (click)="myFunction()"
          class="pr-4"
          aria-hidden="true"
          ios="search"
          md="search-sharp"
        />
    </ion-row>
  </div>
</ion-content>
