<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-white">Location {{ this.locationId }}: View All</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title>Location {{ this.locationId }}: View All</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-row class="bg-slate-300 p-3">
      <p>{{ count }} products(s)</p>
    </ion-row>
    <ion-row>
      <ul class="w-full">
        <li *ngFor="let prod of products" class="bg-blue-100 p-2 border text-sm border-black">
          <div>
            <p>#{{ prod.sku }}</p>
            <p>{{ prod.name }}</p>
          </div>
          <div>
          </div>
        </li>
       </ul>
    </ion-row>
</ion-content>
