<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-white">View All</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title>View All</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="justify-center w-full p-2 bg-slate-300">
    <ion-row class="p-3">
      <p>8 products(s)</p>
    </ion-row>
    <ion-row>
      <ul class="w-full">
        <li *ngFor="let prod of products" class="bg-blue-100 p-2 border text-sm border-black">
          <div>
            <p>#{{ prod.sku }}</p>
            <p>{{ prod.name }}</p>
          </div>
          <div>
          </div>
        </li>
       </ul>
    </ion-row>
 
  </div>
</ion-content>
