<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-white">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex items-center h-full">
    <div class="grid grid-cols-2 mx-auto gap-4">
      <div
        *ngFor="let p of pages; let i = index"
        [routerLink]="[p.url]"
        routerLinkActive="selected"
        class="bg-red-700 h-48 w-40 gap-y-3 flex flex-col items-center justify-center text-white rounded-lg"
      >
        <ion-icon
          aria-hidden="true"
          [ios]="p.icon + '-outline'"
          [md]="p.icon + '-sharp'"
          size="large"
        ></ion-icon>
        {{p.title}}
      </div>
    </div>
  </div>
</ion-content>
